body{
    background-image: linear-gradient( #FA2398 100%, #DD1F94 100%);
 }

 @font-face
 {
    font-family: "Nexa-Xbold";
    src: url("../Nexa/Nexa_V1_2012/Nexa\ Bold.otf");
    src: url("../Nexa/Nexa_V1_2012/Nexa\ Light.otf"); 
    src: url("../Nexa/Nexa_V1_2012/Nexa\ W01\ Heavy.otf");
 }
 @font-face
 {
    font-family: "Lato-Regular";
    src: url("../Lato-Regular/Lato-Regular.ttf");

 }

 @media (max-width: 766px) {
    body{
        background-image: none;
    }
    .contenedorPrincipal{
        border-radius: 10px;
        background-color: white;
        position: relative;
      }
    .fila12-2{
        margin-left: 25px;
    }
    .fila1{
        font-family: Nexa-XBold;
    }
    #ya{
        margin-left: 115px;
        text-decoration-line: underline;
        margin-top: 5px;
        cursor: pointer;
    }
    #flechaizquierda{
        margin-left: 15px;
    }
    #volver{
        margin-top: 5px;
    }
    #logogrande{
        height: 30px;
        width: 123px;
        margin-left: 140px;
    }
    .fila3{
        margin-top: 10px;
    }
    #crear{
        margin-left: 80px;
        font-family: Nexa-XBold;
        font-size: 25px;
        color: #1A1B1C;
        letter-spacing: 1px;
        text-align: center;
        line-height: 30px;
    }
    .contenedorImagen{
        background-image: url("../img/Light-Cover-Pattern-bg@2x.png");
        background-size: 50%;
     }
     #unete{
        font-family: Lato-Regular;
        font-size: 14px;
        color: #84868A;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        margin-left: 33px;
     }
     #camion{
         margin-left: 55px;
     }
     #tarjeta{
         margin-left:56px;
     }
     .iconos{
         margin-left: 50px;
     }
     .letrasiconos{
         margin-top: 5px;
         margin-left: 32px;
         font-family: Nexa-XBold;
         font-size: 11px;
         color: #3B3B3B;
         letter-spacing: 0;
         text-align: center;
         line-height: 16px;
     }
     #mejor{
         margin-left: 34px;
     }
     #face{
        margin-left: 110px;
    }
     .iconosredes{
        margin-left: 30px;
     }
     .fila9{
         margin-top: 24px;
     }
     .fila10{
         margin-top: 10px;
     }
     #mujer,#hombr{
         margin-left: 35px;
     }
    .lblcheck{
       margin-bottom: 5px;
        margin-right: 15px;
        margin-left: 10px;
    }
    #nombreRegistro{
        margin-left: 15px;
        margin-bottom: 0px;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 13px;
    }
    #nombre{
        margin-bottom: 0px;
        margin-left: 15px;
        width: 150px;
    }
    #apellidosRegistro{
        margin-bottom: 0px;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 13px;
    }
    #apellidos{
        width: 140px;
    }
    .fila13{
        margin-top: 10px;
    }
    .fila12-1{
        margin-top: 5px;
    }
    #cumpleanos{
        margin-left: 21px;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 13px;
        margin-bottom: 0px;
    }
    #selectdias{
        width: 110px;
        margin-right: 0px;
        margin-left: 20px;
    }
    #selectmes,#selectanio{
        width: 110px;
        margin-top: 24px;
        margin-left: 10px;
    }
    .fila13-1, .fila13-2,.fila13-3{
        padding: 0%;
    }
    .fila12-2{
        padding: 0%;
        margin-left: 0px;
        margin-top: 10px;
    }
    #emailregistro{
        margin-left: 32px;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 13px;
    }
    #email{
        width: 330px;
        margin-left: 25px;
    }
    .fila14{
        margin-top: 10px;
    }
    #passRegistro{
        margin-left: 15px;
        margin-bottom: 0px;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 13px;
    }
    #pass{
        margin-left: 15px;
        width: 160px;
    }
    #confRegistro{
        margin-bottom: 0px;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 13px;
    }
    #repass{
        width: 160px;
    }
    .fila15{
        margin-top: 10px;
    }
    #checknews{
        margin-left: 35px;
    }
    #textonews{
        font-family: Lato-Regular;
        font-size: 14px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 20px;
    }
    #textocheckabajo{
        font-family: Lato-Regular;
        font-size: 14px;
        color: #84868A;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        margin-left: 0px;
        margin-right: 20px;
    }
    .fila16{
        margin-top: 10px;
    }
    #checkconfirmo{
        margin-left: 35px;
    }
    #textoconfirmo{
        font-family: Lato-Regular;
        font-size: 12px;
        color: #3B3B3B;
        letter-spacing: 0;
        line-height: 20px;
    }
    #botonregistro{
        width: 300px;
        height: 40px;
        margin-left:52px;
        background-color: #FA2398;
        border-color: #FA2398;
        margin-bottom: 15px;
    }
}
@media (min-width: 320px) {
    #ya{
        margin-left: 79px;
    }
}

@media (min-width: 300px) {
    #ya{
        margin-left: 64px;
    }
    #logogrande{
        height: 30px;
        width: 123px;
        margin-left: 120px;
    }
    #crear{
        margin-left: 50px;
        font-family: Nexa-XBold;
        font-size: 25px;
        color: #1A1B1C;
        letter-spacing: 1px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 5px;
    }
    #unete{
        font-family: Lato-Regular;
        font-size: 12px;
        color: #84868A;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        margin-left: 33px;
     }
     #camion{
        margin-left: 45px;
    }
    #tarjeta{
        margin-left:36px;
    }
    .iconos{
        margin-left: 40px;
    }
    .letrasiconos{
        margin-top: 3px;
        margin-left: 32px;
        font-family: Nexa-XBold;
        font-size: 11px;
        color: #3B3B3B;
        letter-spacing: 0;
        text-align: center;
        line-height: 16px;
    }
    #mejor{
            margin-left: 24px;
        }
     #face{
        margin-left: 80px;
         }
     .iconosredes{
        margin-left: 30px;
        }
       #pago{
        margin-left: 15px;
        }
   #ofertas{
       margin-left: 10px;
   }
        #cumpleanos{
            margin-left: 18px;
            font-family: Lato-Regular;
            font-size: 15px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
            margin-bottom: 0px;
        }
        #selectdias{
            width: 100px;
            margin-right: 0px;
            margin-left: 20px;
        }
        #selectmes,#selectanio{
            width: 100px;
            margin-top: 24px;
            margin-left: 10px;
        }
        .fila13-1, .fila13-2,.fila13-3{
            padding: 0%;
        }
        #emailregistro{
            margin-left: 32px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #email{
            width: 300px;
            margin-left: 25px;
        }
        #passRegistro{
            margin-left: 15px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #pass{
            margin-left: 15px;
            width: 140px;
        }
        #confRegistro{
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #repass{
            width: 140px;
        }
        #checknews{
            margin-left: 35px;
        }
        #textonews{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #textocheckabajo{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 22px;
            margin-right: 0px;
        }
        .fila16{
            margin-top: 10px;
        }
        #checkconfirmo{
            margin-left: 35px;
        }
        #textoconfirmo{
            font-family: Lato-Regular;
            font-size: 12px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #botonregistro{
            width: 280px;
            height: 45px;
            margin-left:35px;
            background-color: #FA2398;
            border-color: #FA2398;
            margin-bottom: 15px;
            text-align: center;
        }
}
@media (min-width: 350px) {
    #ya{
        margin-left: 113px;
    }
    
    #logogrande{
        height: 30px;
        width: 123px;
        margin-left: 140px;
    }
    #crear{
        margin-left: 80px;
        font-family: Nexa-XBold;
        font-size: 25px;
        color: #1A1B1C;
        letter-spacing: 1px;
        text-align: center;
        line-height: 30px;
    }
    #unete{
        font-family: Lato-Regular;
        font-size: 14px;
        color: #84868A;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        margin-left: 33px;
     }
     #camion{
        margin-left: 55px;
    }
    #tarjeta{
         margin-left:56px;
     }
    .iconos{
        margin-left: 50px;
    }
    .letrasiconos{
        margin-top: 5px;
        margin-left: 32px;
        font-family: Nexa-XBold;
        font-size: 11px;
        color: #3B3B3B;
        letter-spacing: 0;
        text-align: center;
        line-height: 16px;
    }
    #mejor{
        margin-left: 34px;
    }
    #face{
       margin-left: 110px;
   }
        #pago,#ofertas{
            margin-left: 32px;
        }
        #cumpleanos{
            margin-left: 21px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
            margin-bottom: 0px;
        }
        #selectdias{
            width: 110px;
            margin-right: 0px;
            margin-left: 20px;
        }
        #selectmes,#selectanio{
            width: 110px;
            margin-top: 24px;
            margin-left: 10px;
        }
        .fila13-1, .fila13-2,.fila13-3{
            padding: 0%;
        }
        #emailregistro{
            margin-left: 32px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #email{
            width: 330px;
            margin-left: 25px;
        }
        #passRegistro{
            margin-left: 15px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #pass{
            margin-left: 15px;
            width: 160px;
        }
        #confRegistro{
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #repass{
            width: 160px;
        }
        #checknews{
            margin-left: 35px;
        }
        #textonews{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #textocheckabajo{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 0px;
            margin-right: 20px;
        }
        .fila16{
            margin-top: 10px;
        }
        #checkconfirmo{
            margin-left: 35px;
        }
        #textoconfirmo{
            font-family: Lato-Regular;
            font-size: 12px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #botonregistro{
            width: 300px;
            height: 40px;
            margin-left:52px;
            background-color: #FA2398;
            border-color: #FA2398;
            margin-bottom: 15px;
        }
}

@media (min-width: 410px) {
    #ya{
        margin-left: 165px;
        text-decoration-line: underline;
        margin-top: 5px;
        cursor: pointer;
    }
    #logogrande{
        height: 30px;
        width: 123px;
        margin-left: 165px;
    }
    #crear{
        margin-left: 95px;
        font-family: Nexa-XBold;
        font-size: 25px;
        color: #1A1B1C;
        letter-spacing: 1px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 5px;
    }
    #unete{
        font-family: Lato-Regular;
        font-size: 12px;
        color: #84868A;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        margin-left: 83px;
     }
     #camion{
        margin-left: 105px;
    }
    #tarjeta{
        margin-left:36px;
    }
    .iconos{
        margin-left: 40px;
    }
    .letrasiconos{
        margin-top: 3px;
        margin-left: 78px;
        font-family: Nexa-XBold;
        font-size: 11px;
        color: #3B3B3B;
        letter-spacing: 0;
        text-align: center;
        line-height: 16px;
    }
         #mejor{
            margin-left: 34px;
            margin-right: 10px;
        }
        #face{
        margin-left: 135px;
         }
        .iconosredes{
        margin-left: 30px;
        }
        #pago{
        margin-left: 15px;
        }
        #ofertas{
        margin-left: 10px;
        }
        #cumpleanos{
            margin-left: 28px;
            font-family: Lato-Regular;
            font-size: 15px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
            margin-bottom: 0px;
        }
        #selectdias{
            width: 110px;
            margin-right: 0px;
            margin-left: 30px;
        }
        #selectmes,#selectanio{
            width: 110px;
            margin-top: 24px;
            margin-left: 10px;
        }
        .fila13-1, .fila13-2,.fila13-3{
            padding: 0%;
        }
        #emailregistro{
            margin-left: 32px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #email{
            width: 320px;
            margin-left: 33px;
        }
        #passRegistro{
            margin-left: 20px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #pass{
            margin-left: 19px;
            width: 160px;
        }
        #confRegistro{
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #repass{
            width: 160px;
        }
        #checknews{
            margin-left: 40px;
        }
        #textonews{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #textocheckabajo{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 0px;
            margin-right: 55px;
        }
        .fila16{
            margin-top: 10px;
        }
        #checkconfirmo{
            margin-left: 40px;
        }
        #textoconfirmo{
            font-family: Lato-Regular;
            font-size: 12px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #botonregistro{
            width: 320px;
            height: 45px;
            margin-left:64px;
            background-color: #FA2398;
            border-color: #FA2398;
            margin-bottom: 15px;
            text-align: center;
        }
    }
    @media (min-width: 480px) {
       
        #flechaizquierda{
            margin-left: 35px;
        }
        #ya{
            margin-left: 230px;
        }
        #logogrande{
            height: 30px;
            width: 123px;
            margin-left: 240px;
        }
        .fila3{
            margin-top: 10px;
        }
        #crear{
            margin-left: 160px;
            font-family: Nexa-XBold;
            font-size: 25px;
            color: #1A1B1C;
            letter-spacing: 1px;
            text-align: center;
            line-height: 30px;
        }
        #unete{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 113px;
         }
         #camion{
            margin-left: 155px;
        }
        .iconos{
            margin-left: 50px;
        }
        .letrasiconos{
            margin-top: 5px;
            margin-left: 132px;
            font-family: Nexa-XBold;
            font-size: 11px;
            color: #3B3B3B;
            letter-spacing: 0;
            text-align: center;
            line-height: 16px;
        }
        #mejor{
            margin-left: 44px;
        }
        #face{
            margin-left: 180px;
        }
         .iconosredes{
            margin-left: 30px;
         }
         #mujer,#hombr{
            margin-left: 55px;
        }
        #nombreRegistro{
            margin-left: 35px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #nombre{
            margin-bottom: 0px;
            margin-left: 35px;
            width: 200px;
        }
        #apellidosRegistro{
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #apellidos{
            width: 200px;
        }
        #cumpleanos{
            margin-left: 45px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
            margin-bottom: 0px;
        }
        #selectdias{
            width: 110px;
            margin-right: 0px;
            margin-left: 45px;
        }
        #selectmes{
            width: 110px;
            margin-top: 24px;
            margin-left: 25px;
        }
        #selectanio{
            width: 110px;
            margin-top: 24px;
            margin-left: 0px;
        }
        .fila13-1, .fila13-2,.fila13-3{
            padding: 0%;
        }
        #emailregistro{
            margin-left: 42px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #email{
            width: 410px;
            margin-left: 42px;
        }
        #passRegistro{
            margin-left: 35px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #pass{
            margin-left: 35px;
            width: 160px;
        }
        #confRegistro{
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #repass{
            width: 160px;
        }
        #checknews{
            margin-left: 55px;
        }
        #textonews{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #textocheckabajo{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 0px;
            margin-right: 120px;
        }
        #checkconfirmo{
            margin-left: 55px;
        }
        #textoconfirmo{
            font-family: Lato-Regular;
            font-size: 12px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #botonregistro{
            width: 400px;
            height: 50px;
            margin-left:75px;
            background-color: #FA2398;
            border-color: #FA2398;
            margin-bottom: 15px;
        }
    }
    @media (min-width: 578px) {
       
        #ya{
            margin-left: 260px;
        }
        #mujer,#hombr{
            margin-left: 75px;
        }
        #nombreRegistro{
            margin-left: 55px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #nombre{
            margin-bottom: 0px;
            margin-left: 55px;
            width: 200px;
        }
        #apellidosRegistro{
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #apellidos{
            width: 200px;
        }
        #cumpleanos{
            margin-left: 70px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
            margin-bottom: 0px;
        }
        #selectdias{
            width: 110px;
            margin-right: 0px;
            margin-left: 70px;
        }
        #selectmes{
            width: 110px;
            margin-top: 24px;
            margin-left: 45px;
        }
        #selectanio{
            width: 110px;
            margin-top: 24px;
            margin-left: 20px;
        }
        .fila13-1, .fila13-2,.fila13-3{
            padding: 0%;
        }
        #emailregistro{
            margin-left: 72px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #email{
            width: 450px;
            margin-left: 72px;
        }
        #passRegistro{
            margin-left: 55px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #pass{
            margin-left: 55px;
            width: 160px;
        }
        #confRegistro{
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #repass{
            width: 160px;
        }
        #checknews{
            margin-left: 75px;
        }
        #textonews{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #textocheckabajo{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 0px;
            margin-right: 140px;
        }
        #checkconfirmo{
            margin-left: 75px;
        }
        #textoconfirmo{
            font-family: Lato-Regular;
            font-size: 12px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #botonregistro{
            width: 450px;
            height: 50px;
            margin-left:75px;
            background-color: #FA2398;
            border-color: #FA2398;
            margin-bottom: 15px;
        }
    }
@media (min-width: 768px) {

        .fila14{
            margin-top: 10px;
        }
        .fila15{
            margin-top: 100px;
        }
        .fila16{
            margin-top: 100px;
        }
        .contenedorPrincipal{
        height: 850px;
        width: 680px;
        border-radius: 10px;
        margin-top: 60px;
        background-color: white;
        position: relative;
        }
        .contenedorImagen{
            background-image: url("../img/Light-Cover-Pattern-bg@2x.png");
            background-size: 50%;
            border-radius: 10px;
        }
        .fila1{
            height:30px;
            font-family: Nexa-XBold; 
        }
        #flechaizquierda{
        margin-left: 17px;
        margin-bottom: 12px;
        cursor: pointer;
        }
        #volver{
            margin-left: 7px;
            margin-top: 5px;
            cursor: pointer;
        } 
        #ya{
            text-decoration-line: underline;
            margin-left: 400px;
            margin-top: 5px;
            cursor: pointer;
        }
        #logousuario{
            margin-bottom: 7px;
            cursor: pointer;
        }
        .fila2{
            height:60px; 
        }
        #logogrande{
            margin-left: 250px;
            margin-top: 10px;
            height: 30px;
            width: 223px;
        }
        .fila3{
            height:40px;
            margin-top: 10px;
        }
        #crear{
            margin-left: 250px;
            font-family: Nexa-XBold;
            font-size: 25px;
            color: #1A1B1C;
            letter-spacing: 1px;
            text-align: center;
            line-height: 30px;
        }
        .fila4{
            height:40px;
            text-align: center;
            align-items: center;
        }
        #unete{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 210px;
        }
        .fila5{
            height:30px;
            margin-top: 5px;
        }
        #camion{
            margin-left:230px;
        }
        .iconos{
            margin-left: 59px;
        }
        .fila6{
            height:40px;
        }
        #envio{
            margin-left: 215px;
        }
        #mejor{
            margin-left: 42px;
        }
        #lock{
            margin-left: 43px;
        }
        .letrasiconos{
            margin-top: 5px;
            margin-left: 73px;
            font-family: Nexa-XBold;
            font-size: 11px;
            color: #3B3B3B;
            letter-spacing: 0;
            text-align: center;
            line-height: 16px;
        }
        .fila7{
            height: 25px;
            margin-top: 10px;
        }
        .letrasacceso{
            margin-top: 10px;
            font-family: Nexa-Bold;
            font-size: 12px;
            color: #3B3B3B;
            text-align: center;
            line-height: 12px;
        }
        hr{
            width: 150px;
            background-color: black;
        }
        .fila8{
            height: 70px;
        }
        .iconosredes{
            margin-left: 20px;
            cursor: pointer;
        }
        #face{
            margin-left: 270px;
        }
        .fila9{
            height: 25px;
        }
        .fila10{
            height: 25px;
            margin-top: 20px;
        }
        #mujer{
            margin-top: 5px;
            margin-left: 43px;
            font-family: Lato-Bold;
            font-size: 15px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 42px;
            cursor: pointer;
        }
        #hombre{
            margin-left: 35px;
            margin-top: 5px;
            font-family: Lato-Bold;
            font-size: 15px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 42px;
            cursor: pointer;
        }
        .lblcheck{
            margin-left: 10px;
        }
        .input[type=radio].css-checkbox:checked {
            background: red;
            background-color: red;
            color:red;
        }
        .fila11{
            height: 70px;
            margin-top: 20px;
        }
        #nombreRegistro{
            margin-left: 25px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #nombre{
            margin-left: 25px;
            width: 320px;
        }
        #apellidosRegistro{
            margin-left: 2px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #apellidos{
            margin-left: 2px;
            width: 290px; 
        }
        .fila12{
            height: 70px;
        }
        #cumpleanos{
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
            margin-bottom: 0px;
            margin-left: 33px;
        }
        .primeraeleccion{
            font-family: Lato-Regular;
            font-size: 15px;
            color: #B0B2B6;
            letter-spacing: 0;
            line-height: 42px;
        }
        #selectdias{
            width: 90px;
            margin-left: 43px;
            margin-right: 0px;
            padding: 0%;
        }
        #selectmes{
            width: 90px;
            margin-top: 23px;
            padding: 0%;
            margin-left: 0px;
        }
        #selectanio{
            width: 90px;
            margin-top: 23px;
            padding: 0%;
            margin-left: 10px;
        }
        .fila13{
            height: 70px;
            padding: 0%; 
        }
        .fila12-2,.fila13-1,.fila13-2{
            padding: 0%;
        }
        #emailregistro{
            margin-left: 15px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #email{
            padding: 0%;
            width: 290px;
            height: 40px;
            margin-left: 15px;
        }
        .fila14{
            height: 70px;
        }
        .fila14-1,.fila14-2{
            padding: 0%;
        }
        #passRegistro{
            margin-left: 35px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #pass{
            padding: 0%;
            width: 310px;
            height: 40px;
            margin-left: 35px;
        }
        #confRegistro{
            margin-left: 15px;
            margin-bottom: 0px;
            font-family: Lato-Regular;
            font-size: 16px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 13px;
        }
        #repass{
            padding: 0%;
            width: 290px;
            height: 40px;
            margin-left: 15px;
        }
        .fila15{
            padding: 0%;
            height: 65px;
            margin-top: 7px;
        }
        .fila15-2{
            padding: 0%;
        }
        #checknews{
            margin-left: 40px;
        }
        #textonews{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        #textocheckabajo{
            font-family: Lato-Regular;
            font-size: 14px;
            color: #84868A;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            margin-left: 16px;
            margin-right: 0px;
        }
        #checkconfirmo{
            margin-left: 25px;
            margin-right: 27px;
        }
        #textoconfirmo{
            font-family: Lato-Regular;
            font-size: 12px;
            color: #3B3B3B;
            letter-spacing: 0;
            line-height: 20px;
        }
        .fila16{
            height: 60px;
            margin-top: 16px;
        }
        #botonregistro{
            width: 630px;
            height: 50px;
            margin-left: 37px;
            background-color: #FA2398;
            border-color: #FA2398;
        }
        }